<ul class="flex justify-between rooms-header p-2 m-0 rounded-md">
    <li (click)="selectedView = 'completed'" routerLink="/todos/completed-items">Completed Items</li>
    <li (click)="selectedView = 'high-priority'" routerLink="/todos/high-priority">High Priority Items</li>
    <li (click)="selectedView = ''" routerLink="/todos">All Tasks</li>
</ul>

@if (selectedView === '') {
    @for (item of todoService.todoItems(); track item.id) {
        <div class="my-4 p-4 w-full border-gray-300 rounded shadow">
            <p>Task: {{ item.title }}</p>
            <p>Priority: {{ item.priority }}</p>
            <p>Status: {{ item.completed ? 'Completed' : 'Pending' }}</p>
            @if(!item.completed) {
                <button (click)="todoService.markComplete(item)" class="mt-2 px-4 py-2 bg-green-500 text-white rounded">Mark as Complete</button>
            }
        </div>
    }


}

<router-outlet></router-outlet>